@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.poppins {
  font-family: 'Poppins', sans-serif;
}

.base-timer {
  position: relative;
  top: 50px;
  height: 450px;
  width: 450px;
}

.base-timer__circle {
  fill: #000;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 2px;
  stroke: #ffffff5f;
}

.base-timer__label {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.base-timer__path-remaining {
  color: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}